body {
	background-color: rgb(205, 191, 183);
	background-color: #cdbfb7;
	color: #063475;
	text-align: center;
}

a {
	color: yellow;
}

h1 {
	font-family: "Futura", sans-serif;
	font-size: 30px;
	font-weight: lighter;
	color: pink;
}

h5 {
	font-family: "avenir", sans-serif;
	font-size: 18px;
	color: pink;

}

h6 {
	font-family: "avenir", sans-serif;
	font-size: 13px;
	font-weight: lighter;
	text-align: center;
	color: pink
}

.red-rectangle {
	border: 5px solid white;
	padding: 5px;
	margin: 10px;
	background-color: #063475;
	width: 600px;
	height: 700px;
	font-family: "Futura", sans-serif;
	font-size: 13px;
	font-weight: lighter;
	margin: auto;
	display: block;

}

.red-rectangle {
	margin: auto;
	text-align: center;
	color: white;
}





















