body {
	background-color: rgb(205, 191, 183);
	background-color: #cdbfb7;
	color: #063475;
}

a {
	color: #752106;
}

h1 {
	font-family: cursive;
	font-size: 30px;
}

h5 {
	font-family: sans-serif;
	font-size: 13px;
	font-weight: lighter;
}

.red-rectangle {
	background-color: #063475;
	height: 50px;
	font-family: sans-serif;
	font-size: 13px;
	font-style: italic;
	font-weight: lighter;
}

.red-rectangle {
	text-align: center;
	color: white;
}